<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <title>About - <%= config.app_title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="<%= config.app_description %>">

    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap_united.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons 
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35090580-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><%= config.app_title %></a>
          <div class="nav-collapse collapse">
            <!--
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            -->
            <ul class="nav">
              <li><a href="<%= config.base_path %>">Home</a></li>
              <li class="active"><a href="<%= config.base_path %>about">About</a></li>
              <!-- <li><a href="#contact">Contact</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <h1>TweetyourMEP</h1>
            <p> <strong> Debugging the democratic deficit – one tweet at the time </strong> </p>
            <p>In pre-digital democracies, citizens wishing to draw the attention of their representatives to something would write them letters; more recently, we upgraded to email. Online social networks take this exercise to a whole new level, because citizens and representatives use them to interact in public. If you tweet your MEP everyone can see you do it; and everyone can see whether that MEP engages with you, and how. </p>
<p>So, don’t be shy and tweet away. You will help MEPs stay close to the citizenry. Sometimes the democratic deficit can be filled with 140 characters.</p>
            <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
          </div>
        </div><!--/span-->
<p>TweetyourMEP is a free and open source project proudly brought to you by <strong>Spaghetti Open Data</strong>, an informal group of mostly Italian citizens who care about open data and free information. Everyone is welcome to get involved! Join our <a href="https://groups.google.com/d/forum/spaghettiopendata">mailing list</a> (in Italian, mostly);  reuse or improve our code (<a href="https://github.com/spaghetti-open-data/tweetyourmep">Github</a>).</p>

<p>Twitter handles, avatars and tweets of MEPs © European Union – Source: European Parliament. The code on GitHub is licensed under an <a href="http://www.gnu.org/licenses/agpl-3.0.html">Affero General Public License version 3</a>. </p>
      </div><!--/row-->

      <hr>

      <footer>
        <p><strong>Thanks</strong>: Paolo (<a href="https://twitter.com/paolomainardi">@paolomainardi</a>), Alessio (<a href="https://twitter.com/dottorblaster">@dottorblaster</a>), Alfredo (<a href="https://twitter.com/seralf">@seralf</a>), Luca (<a href="https://twitter.com/lucacorsato">@lucacorsato</a>), Morena (<a href="https://twitter.com/morenaragone">@morenaragone</a>), Silvio (<a href="https://twitter.com/peguaIT">@peguaIT</a>, Alberto (<a href="https://twitter.com/alberto_cottica">@alberto_cottica</a>) and all the fine folks on Spaghetti Open Data.</p>
        
        <a href="http://www.iubenda.com/privacy-policy/324506" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "http://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>

      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="http://code.jquery.com/jquery-latest.js"></script>
   <script src="bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
