  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title><%= config.app_title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="<%= config.app_description %>">
      <!-- <meta name="author" content="https://github.com/spaghetti-open-data/tweetyourmep/graphs/contributors"> -->

      <!-- Le styles -->
      <link href="<%= config.base_path %>bootstrap/css/bootstrap_united.min.css" rel="stylesheet">
      <link href="<%= config.base_path %>bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
      <link href="<%= config.base_path %>javascripts/select2/select2.css" rel="stylesheet">
      <link href="<%= config.base_path %>stylesheets/application.css" rel="stylesheet">

      <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <!-- Le fav and touch icons 
      <link rel="shortcut icon" href="../assets/ico/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
      -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35090580-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    </head>

    <body>

      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="<%= config.base_path %>"><%= config.app_title %></a>
            <div class="nav-collapse collapse">
              <!--
              <p class="navbar-text pull-right">
                Logged in as <a href="#" class="navbar-link">Username</a>
              </p>
              -->
              <ul class="nav">
                <li class="active"><a href="<%= config.base_path %>">Home</a></li>
                <li><a href="<%= config.base_path %>about">About</a></li>
				<li><a href="<%= config.base_path %>italiano">Italiano</a></li>
                <!-- <li><a href="#contact">Contact</a></li> -->
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li>
            <form class="form-vertical">
              <fieldset>
                <div id="legend" class="">
                  <legend class="">Search your MEP</legend>
                </div>
                <div class="control-group">
                  <!-- Search input-->
                  <label class="control-label">Name</label>
                  <div class="controls">
                    <input type="text" name="mep_name" placeholder="MEP Name" class="input-medium search-query" value="<%= (req.query.mep_name ? req.query.mep_name : '') %>">
                    <p class="help-block"></p>
                  </div>
                </div>
                <div class="control-group">
                  <!-- Select Basic -->
                  <label class="control-label">Country</label>
                  <div class="controls">
                    <select class="input-medium" name="mep_country" id="mep_country">
                      <option value=""> - Select country - </option>
                      <%
                        var countries = config.countries;
                        for (var key in countries) { %>
                          <option value="<%= key %>" <%= (key === req.query.mep_country) ? "selected=\"selected\"" : '' %> > <%= countries[key] %> </option>
                      <% } %>
                      <!--
                      <option>Italy</option>
                      <option>France</option>
                      <option>Germany</option>
                    -->
                    </select>
                  </div>
                </div>
                  <div class="control-group">
                  <label class="control-label">Faction</label>
                  <div class="controls">
                    <select class="input-medium" name="mep_faction" id="mep_faction">
                     <option value=""> - Select Faction - </option>
                      <%
                        var faction = config.factionNames;
                        for (var key in faction) { %>
                          <option value="<%= key %>" <%= (key === req.query.mep_faction) ? "selected=\"selected\"" : '' %> > <%= faction[key] %> </option>
                      <% } %>
                    </select>
                  </div>
                </div>
               
                <div class="control-group">
                    <label class="control-label"></label>
                    <!-- Button -->
                    <div class="controls">
                      <button class="btn">Search</button>
                    </div>
                  </div>
              </fieldset>
            </form>
          </li>
        </ul>
      </div> 

      <!-- privacy policy button -->
      <a href="http://www.iubenda.com/privacy-policy/324506" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "http://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>       

    </div> <!--/sidebar -->

          <div class="span9">  
              <!-- loop through meps -->
              <% counter = 0 %>
              <% for(var i = 0; i < meps.length; i++) { %>
                <% if (counter == 0) { %>
                 <div class="row-fluid"> 
                   <ul class="thumbnails">
                <% } %>
                      <li class="span3">
                       <div class="thumbnail">

                         <img data-original="<%= meps[i].mep_epFotoUrl %>" src="<%= config.base_path %>images/grey.gif" class="img-rounded lazy" width="215" />
                         <noscript><img src="<%= meps[i].mep_epFotoUrl %>" class="img-rounded lazy"></noscript>

                        <!--
                         <div style="float:left; width:90px; max-height:215px;"
                            <dl>
                              <dt>Country:</dt> <dd><%= meps[i].mep_country %></dd>
                              <dt>Faction:</dt> <dd><%= meps[i].mep_faction %></dd>
                              <dt>Local Party:</dt> <dd><%= meps[i].mep_localParty %></dd>
                            </dl>
                          </div>
                        -->


                        <div class="caption">
                           <h4> <%= meps[i].mep_firstName + ' ' + meps[i].mep_lastName %> </h4>
                           <span class="mep-info">
                              <i class="icon-globe"></i>
                              <a href="javascript:void(0)" rel="tooltip" data-placement="top" title="<%= config.countries[meps[i].mep_country] %>">
                                <%= meps[i].mep_country %>
                              </a>
                            </span>

                            <span class="divider">/</span>

                            <span class="mep-info">
                              <i class="icon-home"></i>
                              <a href="javascript:void(0)" rel="tooltip" data-placement="top" title="<%= config.factionNames[meps[i].mep_faction] %>">
                                <%= meps[i].mep_faction %>
                              </a>
                            </span>

                            <span class="divider">/</span>
                            <span class="mep-info">
                              <i class="icon-zoom-in"></i>
                              <a href="javascript:void(0)" rel="popover" data-placement="bottom" data-content="<dl>
                            
                            <% var array = eval (meps[i].mep_additionalProperties);
                            for (var l = 0; array!=null && l < array.length; l++) {
                								var object = array[l];
                								for (var property in object){
                									if(property=="flickrURL"){}
                									else if(property=="additionalSite1"){}
                									else{ %>
                									<dt><%= property %></dt> <dd><%= object[property] %></dd>
                                            <% 		}
                								}
                							}
                             %>
                             <dt>Local Party</dt> <dd><%= meps[i].mep_localParty %></dd>
                             </dl>" data-original-title="<%= meps[i].mep_firstName + ' ' + meps[i].mep_lastName %>">More</a>
                            </span>

                            <p class="lead">
                             <h5>
                              <img src="https://dev.twitter.com/sites/default/files/images_documentation/bird_blue_32.png" />
                                  <a class="twitter" href="https://twitter.com/intent/user?screen_name=<%= meps[i].mep_twitterUserName %>"> <%= meps[i].mep_twitterUserName %> </a>
                             </h5>
                           </p>
                       </div>
                       <div class="pagination-centered">
                         <a href="http://twitter.com/intent/tweet/?text=@<%= meps[i].mep_twitterUserName %>&hashtags=tweetyourmep" class="btn btn-primary ">Tweet</a> 
                        <!-- <a href="https://twitter.com/intent/user?screen_name=<%= meps[i].mep_twitterUserName %>" class="btn">Follow</a> -->
                       </div>
                      </div><!--/div-->
                <% if (counter == 3) { %>
                     </ul>
                   </div> 
                   <% counter = 0 %>
                <% } else  { %>
                  <% counter++; %>
                <% } %>
              <% } %>
            </div><!--/row-->
          </div><!--/span-->
        </div><!--/row-->

        <hr>

        <footer>
          <p>&copy; Spaghetti Open Data </p>
        </footer>
      </div><!--/.fluid-container-->

      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
     <script src="http://code.jquery.com/jquery-latest.js"></script>
     <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
     <script src="<%= config.base_path %>bootstrap/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="<%= config.base_path %>javascripts/jquery.lazyload.min.js"></script>
     <script type="text/javascript" src="<%= config.base_path %>javascripts/select2/select2.js"></script>
     <script type="text/javascript" src="<%= config.base_path %>javascripts/application.js"></script>

    </body>
  </html>
